<section class="mx-md-5">
    <!-- Footer -->
    <footer class="text-center text-white bg-primary">

      <div class="container pt-5 pb-0">
        <section>
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Source Code</span>
            <a class="btn btn-outline-light btn-rounded" href="https://github.com/mehdi-aitaryane/User-Management-App" >Github</a>
          </p>
        </section>
      </div>

      <!-- Copyright -->
      <div class="text-center pb-3 pt-0 bg-primary">
        © {{year}} Copyright:
        <a class="text-white"routerLink="/" >User Management System</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
