<div class="mx-5">
  <!-- Marketing Text and Image -->
  <div class="row">
      <div class="col-md-6 mt-md-5 text-center">
          <i class="bi bi-person text-primary" style="font-size: 10em;"></i>
          <h1 class="text-primary">User Management App</h1>
          <p class="text-secondary">The best solution for inhancing your business.</p>
      </div>
      <div class="col-md-6 mt-md-3 text-center">
          <div class="card my-5">
              <div class="card-body">
                <h5 class="card-title">Manage Profile</h5>
                <p class="card-text">Allow authenticated admin to manage his own profile.</p>
                <a routerLink="/user/profile" class="btn btn-primary">Manage Profile</a>
              </div>
          </div>
          <div class="card  my-5">
              <div class="card-body">
                <h5 class="card-title">Logout</h5>
                <p class="card-text">Allow authenticated admin to logout.</p>
                <a routerLink="" (click)="logout()" class="btn btn-primary">Logout</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Features -->
  <div class="row">
  </div>
</div>
